body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
 
    margin: 15px 0px 0px 10px;      
    border: 1px solid black;    
    width:auto;        
}

button{
    position:relative,center;   
}

td#botao{
    text-align:center;
}

label#mensagem{
    text-align:center;
}

table.tbllogin{    
    margin: auto;
    margin-top:200px;      
}

label{
    font-weight:bolder;
}